.container {
    display: flex;
    align-items: center;
    width: 209px;
    height: 36px;
    gap: 8px;
    color: #FFF;
    border-bottom: 1px solid #FFF;
}
.input_wrapper {
    position: relative;
    width: 100%;
}
.input_wrapper img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.search_input {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    border: none;
    padding-left: 30px;
}
