.wrapper_container_info {
    display: flex;
    justify-content: space-between;
    height: 73px;
}

.wrapper_info {
    display: flex;
    gap: 2.08vw;
    width: 25.76vw;
}
.img_style {
    display: flex;
    width: 10.07vw;
    height: 73px;
}
.points {
    display: flex;
    width: 0.28vw;
    height: 16px;
}

