.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    width: 82.64vw;
    height: 1682px;
}

.spinnerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: #FFFFFF;
}