.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
    width: 456px;
    height: 239px;
    background-color: #0F110E;
    border-radius: 30px;
}
.title {
    position: relative;
    top: 5px;
    left: 3vh;
    color: white;
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 20px;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info img {
    width: 145px;
    height: 73px;
    border-radius: 5px;
    border: 1px solid white;
}
.info ul {
    color: white;
}
.container button {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    background-color: #A66CFE;
    font-family: adineue PRO;
    font-size: 16px;
    font-weight: 400;
    border-radius: 9px;
    width: 188px;
    height: 43px;
    color: white;
}
.button {
    position: relative;
    left: 3vh;
    bottom: 5px;
}
