.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    width: 31.67vw;
    height: 239px;
    border-radius: 30px;
}
.dark_mode .container {
    background-color: #0F110E;
}
.light_mode .container {
    background-color: #FFF;
}
.wrapper_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 27.5vw;
    height: 221px;
}
.title {
    display: flex;
    font-family: 'adineue PRO Cyr', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    letter-spacing: 1px;
}
.dark_mode .title {
    color: white;
}
.light_mode .title {
    color: #000;
}

.info {
    display: flex;
    align-items: center;
}
.info img {
    display: flex;
    border-radius: 5px;
}

.dark_mode .info ul {
    color: white;
}
.light_mode .info ul {
    color: #000;
}
.container button {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    background-color: #A66CFE;
    border: 1px solid #A66CFE;
    font-family: 'adineue PRO Cyr', sans-serif;
    font-size: 1em;
    font-weight: 400;
    border-radius: 9px;
    width: 13.06vw;
    height: 43px;
    color: white;
}

.button {

}
