.container_CW_kod {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.title {
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    font-size: 0.88em;
    color: #FFF;
    width: 13.89vw;
    height: 58px;
    letter-spacing: 1px;
}
.info {
    display: flex;
    flex-direction: column;
}
.wrap_CW_kod {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.CW_kod {
    color: rgba(250,250,250,0.6);
}
.line {
    display: flex;
    border-bottom: 1px solid rgba(250,250,250,0.6);
}
