.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px;
    width: 82.64vw;
    height: 1788px;
    border: 1px solid red;
}
.wrapper_content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 1115px;
    height: 1462px;
    border: 1px solid red;
}



.wrap_warning {
    display: flex;
}