.footer {
    width: 99vw;
    height: 189px;
    position: relative;
    text-align: center;
    background: #0E0E0E;
    color: #fff;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}

.footer>* {
    max-width: 100%;
}
.light_mode.footer {
    background: #FFF;
    color: #333;
}

.Frame614 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.69vw;
    position: absolute;
    width: 6.39vw;
    height: 49px;
    left: 4.17vw;
    top: 25px;
}

.Rectangle2 {
    width: 50px;
    height: 49px;
    background-image: url('../../assets/Photo/Finostra_logo.png');
    border-radius: 7px;
}

.Logo {
    width: 2.29vw;
    height: 16px;
    font-family: 'adineue PRO Cyr', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.86em;
    line-height: 16px;
    color: #FFF;
}

.light_mode .Logo {
    color: #000;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.78vw;
    position: absolute;
    width: 45.35vw;
    height: 19px;
    left: 20.21vw;
    top: 42px;
}

.link {
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
    color: #FFF;
    text-decoration: none;
}

.light_mode .link {
    color: #000;
}

.link:hover {
    text-decoration: none;
}

.light_mode .phone {
    color: #000;
}

.phone {
    width: 19.93vw;
    height: 16px;
    left: 4.17vw;
    top: 93px;
    position: absolute;
    letter-spacing: -0.3px;
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.86em;
    line-height: 16px;
    color: #FFF;
    text-align: left;
}

.light_mode .license {
    color: #000;
}

.license {
    width: 22.92vw;
    height: 16px;
    left: 4.17vw;
    top: 127px;
    position: absolute;
    letter-spacing: -0.3px;
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.86em;
    line-height: 16px;
    color: #FFF;
    text-align: left;
}

.frame641 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.04vw;
    position: absolute;
    width: 9.86vw;
    height: 44px;
    left: 73.47vw;
    top: 99px;
}

.light_mode .appleIcon {
    background-image: url('../../assets/Photo/AppleStoreDrk.png');
}

.appleIcon {
    width: 2.43vw;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/Photo/AppleStore.png');
}

.appleLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.04vw;
}

.frame640 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.14vw;
    width: 5.76vw;
    height: 38px;
}

.light_mode .available {
    color: #000;
}

.available {
    width: 5.76vw;
    height: 17px;
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.86em;
    line-height: 16px;
    color: #FFF;
}

.light_mode .appleStore {
    color: #000;
}

.appleStore {
    width: 5.76vw;
    height: 19px;
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.86em;
    line-height: 16px;
    color: #FFF;
}

.frame833 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.04vw;
    position: absolute;
    width: 9.86vw;
    height: 44px;
    left: 84.93vw;
    top: 99px;
}

.light_mode .googlePlayIcon {
    background-image: url('../../assets/Photo/proicons_google-play.png');
}

.googlePlayIcon {
    width: 2.57vw;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/Photo/GooglePlay.png');
}

.googlePlayLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.04vw;
}

.light_mode .googlePlay {
    color: #000;
}

.googlePlay {
    width: 5.76vw;
    height: 19px;
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.86em;
    line-height: 16px;
    color: #FFF;
}
