.container {
    display: flex;
    gap: 1.74vw;
    width: 77.43vw;
    height: 107px;
}

.wrap_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24.65vw;
    height: 107px;
    border-radius: 2.08vw;
    border: none;
    background-color: #0F110E;
    cursor: pointer;
}
.active {
    background-color: #A66CFE;
    color: #FFF;
}
.wrap_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.56vw;
    width: 14.03vw;
    height: 37px;
}
.name {
    font-weight: 400;
    font-size: 1.25em;
    color: #FFF;
}