.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77.01vw;
    height: 176px;
    border-radius: 2.08vw;
    background-color: #0F110E;
    color: #FFF;
    letter-spacing: 1px;
}
.wrapper_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 13px;
    width: 72.85vw;
    height: 116px;
}
.wrapper_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 53px;
}
.title {
    display: flex;
    font-weight: 400;
    font-size: 1.25em;
    color: #FFF;
}
.subtitle {
    display: flex;
    font-weight: 400;
    font-size: 1em;
    color: rgba(250,250,250,0.6);
}
.wrapper_payment {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 72.85vw;
    height: 50px;
}