.container {
    display: flex;
    align-items: center;
    width: 72.92vw;
    height: 109px;
    background-color: #0F110E;
    color: #FFF;
}
.wrap_content {
    display: flex;
    align-items: center;
    gap: 1.39vw;
    width: 65.14vw;
    height: 74px;
}
.title {
    display: flex;
    width: 21.67vw;
    height: 24px;
    font-weight: 400;
    font-size: 1.25vw;
}
.wrap_menu {
    display: flex;
    align-items: flex-end;
    gap: 2.57vw;
    width: 40.56vw;
    height: 87px;
    color: rgba(250,250,250,0.6);
}
.account_payment {
    display: flex;
    gap: 3.54vw;
    width: 21.39vw;
    height: 48px;
}
.wrap_term {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 16.6vw;
    height: 87px;
}
.rate {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 1em;
    color: #FFF;
}
.wrap_item {
    display: flex;
    width: 16.6vw;
    height: 48px;
}
.item {
    display: flex;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 0.88em;
}
.wrap_text {
    display: flex;
    align-items: center;
    flex-direction: column;
}