.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    width: 82.64vw;
    height: 1648px;
}
.transactionWrapper {
    display: flex;
    flex-direction: column;
    width: 77.08vw;
    height: 997px;
    gap: 38px;
}

