.sidebar {
    display: flex;
    justify-content: flex-end;
    font-family: 'adeneue PRO Cyr', sans-serif;
    width: 17.36vw;
    height: 1686px;
    background-color: #0F110E;
    color: white;
    font-size: 1em;
    font-weight: 400;
    border-bottom-right-radius: 32px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1.82vw;
    width: 16.25vw;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    display: flex;
    margin-bottom: 1.04vw;
    width: 16.25vw;
    height: 24px;
}

.sidebar ul li a {
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.sidebar ul li a:hover {
    text-decoration: none;
}

.iconContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16.25vw;
    height: 59px;
}
.iconContainer:hover {
    background-color: #28282C;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    width: 16.25vw;
}
.iconContainer.hovered {
    background-color: #28282C; /* Изменение фона при наведении на ссылку */
}
.iconContainer img {
    display: flex;
    width: 1.67vw;
    height: 24px;
}
.iconContainer div {
    display: flex;
}
.iconWrapper {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    width: 10.42vw;
}



