.container {
    display: flex;
    gap: 1.39vw;
    width: 26.04vw;
    height: 45px;
}
.widthContainerCreditTerms345 {
    width: 24vw;
}
.widthContainerCreditTerms375 {
    width: 26.04vw;
}
.wrapper_rate_term_line {
    display: flex;
    gap: 1.39vw;
    width: 22.92vw;
    height: 45px;
}
.widthWrapRateTermLine250 {
    width: 17.36vw;
}
.widthWrapRateTermLine330 {
    width: 22.92vw;
}
.wrapper_rate_term {
    display: flex;
    gap: 1.39vw;
    width: 21.53vw;
    height: 45px;
}
.wrapper_rate_term10_53 {
    width: 10.53vw;
}
.wrapper_rate_term21_53 {
    width: 21.53vw;
}

.wrapper_rate_line {
    display: flex;
    gap: 1.39vw;
    min-width: 8.9vw;
    height: 45px;
}
.wrapper_rate_line3_9 {
    min-width: 3.9vw;
}
.wrapper_rate_line8_9 {
    min-width: 8.9vw;
}
.wrapper_rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.69vw;
    max-width: 8.61vw;
    height: 45px;
    white-space: nowrap;
}
.widthRate87 {
    max-width: 6.04vw;
}
.widthRate95 {
    max-width: 6.6vw;
}
.widthRate124 {
    max-width: 8.61vw;
}

.text {
    font-weight: 400;
    font-size: 0.88vw;
    color: rgba(250,250,250,0.6);
    letter-spacing: 0;
}
.number {
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0;
}