.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72.92vw;
    height: 340px;
    border-radius: 30px;
    background-color: #28282C;
    color: #FFF;
}
.wrapper_content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 68.75vw;
    height: 283px;
}
.title {
    display: flex;
    font-weight: 400;
    font-size: 1em;
}
.wrap_details {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 16.88vw;
    height: 224px;
}
.wrap_item {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 16.88vw;
    height: 58px;
    border-bottom: 1px solid rgba(250,250,250,0.6);
}
.name {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 0.88em;
}
.wrap_options {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../assets/icons/arrow_down16.svg');
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 1em;
    background-color: #28282C;
    color: rgba(250,250,250,0.6);
    background-position: right 0.69vw center;
    display: flex;
    align-items: center;
    width: 16.88vw;
    height: 29px;
}
.input {
    display: flex;
    background-color: transparent;
    font-weight: 400;
    font-size: 1em;
    color: #FFF;
    border: none;
}

