.container {
    display: flex;
    align-items: center;
    gap: 0.56vw;
    width: 14.51vw;
    height: 36px;
    color: #FFF;
    letter-spacing: 1px;
    border-bottom: 1px solid #FFF;
}
.size209 {
    width: 14.51vw;
}
.size304 {
    width: 21.11vw;
}
.size447 {
    width: 31.04vw;
}
.input_wrapper {
    position: relative;
    width: 100%;
}
.iconLeft {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.iconRight {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.container img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.input_period {
    width: 100%;
    font-weight: 400;
    font-size: 1em;
    background-color: transparent;
    color: #FFF;
    border: none;
}
.input_width_left_icon {
    padding-left: 2.78vw;
}
.input_width_right_icon {
    padding-right: 2.78vw;
}