.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(11.4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.frame887 {
    position: absolute;
    width: 531px;
    height: 712px;
    top: 54.5px;
    left: 455px;
    border-radius: 30px;
    background-color: #1A1B1A;
    padding: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}


.frame867 {
    display: flex;
    justify-content: flex-end;
}


.frame868 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 40px;
    width: 471px;
    height: 614px;
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
}


.modalTitle {
    width: 100%;
    text-align: center;
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.closeButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}


.closeButton:hover .icon {
    transform: scale(1.2);
    transition: transform 0.2s ease;
}

.icon {
    width: 18px;
    height: 18px;
}

.frame866 {
    display: flex;
    padding: 0;
    gap: 40px;
    width: 471px;
    height: 543px;
}

.frame955 {
    
    width: 471px;
    height: 467px;
    gap: 26px;
}

.frame954 {
    width: 471;
    height: 467;
    gap: 26px;

}

.frame952 {
    width: 471px;
    height: 148px;
    gap: 24px;
}

.frame852 {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 471px;
    height: 76px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.phoneNumber {
    display: flex;
    width: 471px;
    height: 19px;
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A66CFE;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.frame862 {
    width: 471px;
    height: 48px;
    gap: 20px;
}