.wrap_infoSumCredit {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 20.69vw;
    height: 58px;
    border-bottom: 1px solid rgba(250,250,250,0.6);
}
.name {
    display: flex;
    font-weight: 400;
    font-size: 1em;
}
.sumCredit {
    display: flex;
    justify-content: space-between;
}
.info {
    font-weight: 400;
    font-size: 1em;
    color: #FFF;
    border: none;
    background-color: transparent;
}
