.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77.08vw;
    height: 551px;
    background-color: #0F110E;
    border-radius: 2.08vw;
}
.wrapper_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 71.53vw;
    height: 471px;
}
.wrapper_cards {
    display: flex;
    width: 71.53vw;
    height: 327px;
    gap: 3.61vw;
}
.container_totalSum {
    display: flex;
    width: 100%;
    gap: 2.01vw;
}
.wrapper_total_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 71.53vw;
    height: 84px;
}
.total_amount {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: rgba(250,250,250,0.6);
}
.wrap_buttons {
    display: flex;
    gap: 60px;
}

