.line {
    display: flex;
    width: 1px;
    height: 43px;
    background-image: repeating-linear-gradient(
            to bottom,
            rgba(250, 250, 250, 0.6) 0px,
            rgba(250, 250, 250, 0.6) 2px,
            transparent 15px,
            transparent 6px
    );
}
.height43 {
    height: 43px;
}
.height73 {
    height: 73px;
}