.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 71.53vw;
    color: #FFF;
    letter-spacing: 1px;
}

.title {
    display: flex;
    justify-content: space-between;
    gap: 3.13vw;
    width: 71.53vw;
    border-bottom: 1px solid rgba(250, 250, 250, 0.4);
}
.wrap_data_desc {
    display: flex;
    gap: 3.13vw;
    width: 8.54vw;
    height: 19px;
}

.data_header,
.desc_header,
.sum_header {
    font-weight: 400;
    font-size: 1em;
}

.wrapper_body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 71.53vw;
    padding-bottom: 0.75rem;
}

.wrapper_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 71.53vw;
}
.wrap_data_content {
    display: flex;
    justify-content: space-between;
}
.wrap_time {
    display: flex;
    font-weight: 400;
    font-size: 1em;
    color: rgba(250,250,250,0.6);
}
.wrap_img_desc {
    display: flex;
    gap: 5px;
}
.wrapper_content {
    display: flex;
    align-items: center;
    width: 13.26vw;
    gap: 1.39vw;
}
.wrap_description {
    display: flex;
    align-self: center;
    font-weight: 400;
    font-size: 1em;
}

.date {
    display: inline;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: #28282c;
}