.total_block {
    display: flex;
    flex-direction: column;
    gap: 0.9vw;
    width: 13.89vw;
    height: 53px;
    letter-spacing: 1px;
}
.size200 {
    width: 13.89vw;
}
.size217 {
    width: 15.07vw;
}
.size406 {
    width: 28.19vw;
}
.row {
    flex-direction: row;
    align-items: center;
}
.title {
    display: flex;
    font-weight: 700;
    font-size: 0.88em;
    color: #FFF;
}
.wrapper_total {
    display: flex;
    justify-content: space-between;
}
.total {
    display: flex;
    width: 13.89vw;
    font-weight: 400;
    font-size: 1em;
    color: #FFF;
    background-color: #28282C;
    border-right: none;
}

.totalWhite {
    color: #FFF;
}
.totalPink {
    color: #A66CFE;
}
.whiteText {
    color: #FFF;
}
.pinkText {
    color: #A66CFE;
}
.greyText {
    color: rgba(250,250,250,0.6);
}
.bold {
    font-weight: 700;
}
.normal {
    font-weight: 400;
}
.noBorder {
    border: none;
}
.marginLeft {
    margin-left: 1.39vw;
}
.currency {
    font-size: 1em;
    color: rgba(250,250,250,0.6);
}
.currencyColorGrey {
    color: rgba(250,250,250,0.6);
}
.currencyColorWhite {
    color: #FFF;
}
