.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35.76vw;
    height: 41px;
    color: white;
}
.label {
    display: flex;
    font-size: 1em;
    font-weight: 400;
}
.range {
    width: 100%;
    accent-color: #CFF500;
}

