.wrapper_button {
    display: flex;
    gap: 2.08vw;
    width: 12.57vw;
    height: 33px;
    margin-left: 25px;
    white-space: nowrap;
}
.send_but, .receive_but {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 5.28vw;
    height: 33px;
    color: rgba(250,250,250,0.6);
    font-weight: 400;
    font-size: 1em;
    background-color: #0F110E;
    border: 1px solid #0F110E;
    cursor: pointer;
}

.send_but img, .receive_but img {
    display: flex;
    width: 7px;
    height: 7px;
}
.active {
    opacity: 1;
    color: #FFF;
}
.active img {
    display: inline-block;
}