.wrapper_button {
    display: flex;
    justify-content: space-between;
    width: 12.64vw;
    height: 33px;
    white-space: nowrap;
}
.width172 {
    width: 11.94vw;
}
.width182 {
    width: 12.64vw;
}
.width211 {
    width: 14.65vw;
}
.width228 {
    width: 15.83vw;
}
.width252 {
    width: 17.5vw;
}
.width359 {
    width: 24.93vw;
}

.send_but, .receive_but {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: auto;
    height: 33px;
    color: rgba(250,250,250,0.6);
    font-weight: 400;
    font-size: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.send_but img, .receive_but img {
    display: flex;
    align-self: center;
    width: 7px;
    height: 7px;
}
.active {
    opacity: 1;
    color: #FFF;
}
.active img {
    display: inline-block;
}