.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 77.1vw;
    height: 613px;
    border-radius: 2.08vw;
    background-color: #0F110E;
    color: #FFF;
    letter-spacing: 1px;
}

.wrapper_info {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 72.85vw;
    height: 539px;
}
.height_content613 {
    height: 613px;
}
.height_wrap539 {
    height: 539px;
}
.height_content491 {
    height: 491px;
}
.height_wrap411 {
    height: 411px;
}
.title {
    display: flex;
    font-weight: 700;
    font-size: 1.25em;
}
.wrapper_questions {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 29px;
}
.question_img {
    display: flex;
    justify-content: space-between;
}
.question {
    display: flex;
    font-weight: 400;
    font-size: 1em;
}
.line {
    display: flex;
    border-bottom: 1px solid rgba(250,250,250,0.6);
    width: 100%;
}