.wrapper_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29.79vw;
  height: 24px;
}

.size429 {
  width: 29.79vw;
}

.size406 {
  width: 28.19vw;
}

.title {
  display: flex;
  font-family: 'adeneue PRO Cyr', sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #FFF;
  letter-spacing: 1px;
}

.my_wallet {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 9.03vw;
  height: 24px;
}

.size140 {
  width: 140px;
}

.title_wallet {
  cursor: pointer;
  display: flex;
  color: #A66CFE;
}

.normal {
  text-transform: none;
}

.whiteText {
  color: #FFF;
}

.pinkText {
  color: #A66CFE;
}

.uppercase {
  text-transform: uppercase;
}




.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: #FFFFFF;
  animation: fadeIn 0.1s ease-out;
}

.modal {
  background: #1E1E1E;
  padding: 32px 28px;
  width: 600px;
  min-height: 300px;
  border-radius: 18px;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  animation: modalSlide 0.2s ease-out;
}

.modalTitle {
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}

.options {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  scrollbar-width: 6px; /* Firefox */
  scrollbar-color: #A66CFE transparent;
}

/* Chrome, Edge, Safari */
.options::-webkit-scrollbar {
  height: 6px;
}

.options::-webkit-scrollbar-track {
  background: transparent;
}

.options::-webkit-scrollbar-thumb {
  background-color: #A66CFE;
  border-radius: 6px;
}


.option,
.optionChecked {
  width: 200px;
  height: 70px;
  background-color: #060323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 12px 16px;
  border: 2px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

.optionChecked {
  border-color: #CFF500;
  background: #CFF500;
  color: #060323;
  box-shadow: 0 0 10px #FBFF2E66;
  transform: scale(0.95);
}


.wrapper_option_item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.wrapper_option_item div img {
  width: 50px;
}

.btnRow {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.btnPrimary,
.btnSecondary {
  flex: 1 1 0;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.1s ease-in;
}

.btnPrimary {
  background: #793CFC;
  color: #FFFFFF;
}

.btnPrimary:disabled {
  opacity: 0.6;
  cursor: default;
}

.btnSecondary {
  background: #A66CFE;
  color: #FFFFFF;
}

.spinnerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: #FFFFFF;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modalSlide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}