.wrapper_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 29.79vw;
    height: 24px;
}
.title {
    display: flex;
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #FFF;
    letter-spacing: 1px;
}
.my_wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9.03vw;
    height: 24px;
}
.title_wallet {
    display: flex;
    color: #A66CFE;
}
.normal {
    text-transform: none;
}
.whiteText {
    color: #FFF;
}
.pinkText {
    color: #A66CFE;
}
.uppercase {
    text-transform: uppercase;
}
