.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42.64vw;
    height: 239px;
    border-radius: 30px;
}
.dark_mode .container {
    background-color: #0F110E;
}
.light_mode .container {
    background-color: #FFF;
}
.info_star {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3.47vw;
}
.wrapper_info {
    display: flex;
    flex-direction: column;
    gap: 1.39vw;
    position: relative;
    left: 3vh;
}
.title {
    color: white;
    font-family: 'adineue PRO Cyr', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    letter-spacing: 1px;
}
.dark_mode .title {
    color: white;
}
.light_mode .title {
    color: #000;
}
.info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.39vw;
}
.info img {
    width: 10.07vw;
    height: 73px;
    border-radius: 5px;
    border: 1px solid white;
}
.info div {
    display: flex;
    color: white;
    width: 13.89vw;
}
.dark_mode .info div {
    color: white;
}
.light_mode .info div {
    color: #000;
}

.tab_message {
    display: flex;
    justify-self: end;
    position: relative;
    top: 13px;
    left: 24px;
}

