.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.47vw;
    width: 31.67vw;
    height: 605px;
    border-radius: 30px;
}
.dark_mode .container {
    background-color: #0F110E;
}
.light_mode .container {
    background-color: #FFF;
}
.wrapper_title {
    display: flex;
    justify-content: space-around;
    gap: 6.25vw;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 1.39vw;
}
.title {
    display: flex;
    gap: 0.69vw;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'adeneue PRO Cyr', sans-serif;
    letter-spacing: 1px;
}
.wrapper_img {
    display: flex;
}

.dark_mode .title {
    color: #FFF;
}
.light_mode .title {
    color: #000;
}
.wrapper_content {
   display: flex;
    justify-content: center;
    gap: 1.39vw;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.08vw;
    width: 13.19vw;
    height: 200px;
    background-color: #CCAAFF;
    border-radius: 15px;
}
.bg_color_violet {
    background-color: #CCAAFF;
}
.bg_color_pink {
    background-color: #F2B8FF;
}

.wrapper_text {
    display: flex;
    flex-direction: column;
    width: 11.11vw;
    height: 59px;
    gap: 0.69vw;
}
.wrapper_text div {
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-weight: 700;
    font-size: 1em;
}
.wrapper_text .text {
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-weight: 400;
    font-size: 0.88em;
    color: rgba(0, 0, 0, 0.6);
}

