.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.39vw;
    width: 31.67vw;
    height: 153px;
    border-radius: 30px;
}
.dark_mode .container {
    background-color: #0F110E;
}
.light_mode .container {
    background-color: #FFF;
}

.title {
    display: flex;
    gap: 0.69vw;
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    width: 27.78vw;
    align-self: center;
    letter-spacing: 1px;
}
.dark_mode .title {
    color: #FFF;
}
.light_mode .title {
    color: #000;
}

.wrapper_contentCard {
    display: flex;
    flex-direction: column;
    height: 50px;
    gap: 0.59vw;
}

.contentCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 27.78vw;
}

.numberCard {
    color: black;
}

.dark_mode .numberCard {
    color: #FFF;
}
.light_mode .numberCard {
    color: #000;
}
.account {
    width: 19.44vw;
}
.dark_mode .account {
    background-color: #0F110E;
    border: 1px solid #0F110E;
    color: #FFF;
}
.light_mode .account {
    background-color: #FFF;
    border: 1px solid #FFF;
    color: #000;
}

.wrapper_img {
    display: flex;
    gap: 0.35vw;
}

.text {
    display: flex;
    align-self: center;
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-size: 0.88em;
    width: 27.78vw;
}
.dark_mode .text {
    color: #FFF;
}
.light_mode .text {
    color: #000;
}

.hr {
    display: flex;
    align-self: center;
    width: 88%;
    border: none;
    margin: 0;
}
.dark_mode .hr {
    border-bottom: 1px solid #FFF;
}
.light_mode .hr {
    border-bottom: 1px solid #000;
}