.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10.63vw;
    width: 77.08vw;
    height: 441px;
    border-radius: 2.08vw;
    background-color: #0F110E;
    color: #FFF;
    letter-spacing: 1px;
}
.gap153 {
    gap: 10.63vw;
}
.gap251 {
    gap: 17.43vw;
}
.height441 {
    height: 441px;
}
.height477 {
    height: 477px;
}
.height594 {
    height: 594px;
}
.wrapper_info {
    display: flex;
    flex-direction: column;
    width: 36.04vw;
    height: 361px;
    gap: 37px;
}
.widthWrapperInfo519 {
    width: 36.04vw;
}
.heightWrapperInfo361 {
    height: 361px;
}
.widthWrapperInfo421 {
    width: 29.24vw;
}
.heightWrapperInfo487 {
    height: 487px;
}
.gap37 {
    gap: 37px;
}
.gap58 {
    gap: 58px;
}
.gap108 {
    gap: 108px;
}
.wrapper_howUsePayment {
    display: flex;
    flex-direction: column;
    gap: 43px;
    width: 36.04vw;
    height: 210px;
}

.wrapper_payNow {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 36.04vw;
    height: 134px;
}
.gapPayNow28 {
    gap: 28px;
}
.gapPayNow0 {
    gap: 0;
}
.widthPayNow421 {
    width: 29.24vw;
    height: 89px;
}
.widthPayNow519 {
    width: 36.04vw;
    height: 134px;
}

.text_info {
    color: rgba(250,250,250,0.6);
}
