.container {
    display: flex;
    align-items: center;
    gap: 1.39vw;
    width: 77.08vw;
    height: 114px;
    background-color: #0F110E;
    border-radius: 2.08vw;
    margin-top: 30px;
    padding: 1rem 0;
}
.container img {
    margin-left: 2.08vw;
}
.wrapper_info {
    display: flex;
    flex-direction: column;
    gap: 0.69vw;
    color: #FFF;
}

.title {
    display: flex;
    font-family: 'adeneue PRO Cyr', sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
}
.subtitle {
   display: flex;
    opacity: 0.5;

}