.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #FFF;
    background-color: #0F110E;
    width: 77.08vw;
    height: 907px;
}
.wrapper_listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.82vw;
    width: 72.53vw;
    height: 811px;
}
.wrapper_list {
    display: flex;
    flex-direction: column;
    gap: 3.26vw;
    width: 72.53vw;
    height: 707px;
}
.container_period_search {
    display: flex;
    justify-content: flex-start;
    gap: 2.08vw;
    width: 72.53vw;
    height: 36px;
}
