.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77.08vw;
    background-color: #0F110E;
    border-radius: 2.08vw;
    padding: 3rem 0;
    margin-bottom: 1rem;
}