.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77.08vw;
    height: 297px;
    border-radius: 2.08vw;
    background-color: #0F110E;
    color: #FFF;
}