.main_content {
    display: flex;
    align-items: stretch;
}

.wrapper_content {
    display: flex;
    align-items: stretch;
    width: 100vw;
}

.dark_mode .wrapper_content {
    background-color: #28282C;
}

.light_mode .wrapper_content {
    background-color: #EAEAEA;
}