.container {
  position: relative;
  display: inline-block;
}
.avatarTrigger {
  width: 38px;
  height: 38px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  background-image: url("../../assets/Photo/default-avatar.png");

}

.avatarTrigger:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5.4px);
  pointer-events: auto;
  z-index: -1;
}
.dropdown {
  position: absolute;
  top: 97px;
  right: -95px;
  width: 370px;
  max-height: 90vh;
  overflow-y: auto;
  background: #0f110e;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 27px 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
}

.headerAvatar {
  position: relative;
  width: 120px;
  height: 110px;
  background-size: cover;
  background-position: center;
  border: 1px solid #fff;
  border-radius: 50%;
   background-image: url("../../assets/Photo/default-avatar.png");
}

.profileHeader {
  display: flex;
  align-items: center;
  gap: 12px; 
}
.avatarOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.editButton {
  position: absolute;
  bottom: 8px;
  left: 38%;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.headerInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userName,
.userPhone {
  color: rgba(255, 255, 255, 0.6);
  font-family: "adineue PRO", sans-serif;
}
.userName {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.userPhone {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.menuGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.groupHeader {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  font-size: 16px;
  font-family: "adineue PRO", sans-serif;
  color: #fff;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 16px;
  color: #fff;
  transition: color 0.2s ease;
}
.menuItem:hover {
  color: #A66CFE;
}
.dropdown::-webkit-scrollbar {
  width: 6px;
}
.dropdown::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}