.main_v_3 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #28282C;
}

.light_mode .main_v_3 {
    background-color: #EAEAEA;

}

.dark_mode .main_v_3 {
    background-color: #28282C;

}

.wrapper_main {
    display: flex;
    flex: 1;
}
.star {
    position: relative;
    top: 20px;
    right: 175px;
}
.dark_mode .star {
    background-color: #0F110E;
}
.light_mode .star {
    background-color: #FFF;
}
.tab_message {
    position: relative;
    top: 200px;
    right: 207px;
}
